# 1 > Write a code to reverse a string

In [22]:
txt = "pw skills" [:: -1]
txt

'slliks wp'

# 2 > Write a code to count the number of vowels in a string.

In [58]:
s=input("inter a string")
count = 0
for i in range(0,len(s)):
    if(s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i]=='o' or s[i]=='u'):
        count=count+1
count

inter a stringshubham from mumbai

6

In [1]:
n = input("Enter a string:")
if n==n[::-1]:
    print(n+" is a palindrome")
else:
    print(n+ " is not a palindrome")

Enter a string:shubhm
shubhm is not a palindrome

# 4.> Write a code to check if two given strings are anagrams of each other

In [7]:
str1 = "PW"
str2 = "Skills"
str1.lower()
str2.lower()
if (len(str1)==len(str2)):
    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)
    if(sorted_str1 == sorted_str2):
        print(str1 + "and" + str2 + "are anagram.")
    else:
        print(str1 + "and" +str2 + "are not anagram.")
else:
    print(str1 + "and" +str2 + "are not anagram.")

PWandSkillsare not anagram.

# 5.>> Write a code to find all occurrences of a given substring within another string.

In [9]:
def printIndex(str, s):

    flag = False
    for i in range(len(str)):
        if (str[i:i + len(s)] == s):

            print(i, end=" ")
            flag = True

    if (flag == False):
        print("NONE")

str1 = "GeeksforGeeks"
str2 = "Geeks"
printIndex(str1, str2)

0 8

# 6. >Write a code to perform basic string compression using the counts of repeated characters.

In [1]:
def compression(string): 
    hash = {}
    list = []
    count = 0
    for i in range(len(string) - 1): 
        if string[i - 1] != string[i] or i == 0: 
            if string[i] != string[i + 1] or i == len(string) - 2: 
                count = count + 1
                list.append(str(string[i]))
                list.append(str(count))
                count = 0
            elif string[i] == string[i + 1]: 
                count = count + 1
        elif string[i - 1] == string[i]:
            if string[i] != string[i + 1] or i == len(string) - 2: 
                count = count + 1
                list.append(str(string[i]))
                list.append(str(count))
                count = 0
            if string[i] == string[i + 1]: 
                count = count + 1
        print(list)
    result =  "".join(list)
    if len(result) == len(string): 
        return string
    else: 
        return result
string = "abcccffggg"
compression(string)

['a', '1']
['a', '1', 'b', '1']
['a', '1', 'b', '1']
['a', '1', 'b', '1']
['a', '1', 'b', '1', 'c', '3']
['a', '1', 'b', '1', 'c', '3']
['a', '1', 'b', '1', 'c', '3', 'f', '2']
['a', '1', 'b', '1', 'c', '3', 'f', '2']
['a', '1', 'b', '1', 'c', '3', 'f', '2', 'g', '2']

'abcccffggg'

# 7.> Write a code to determine if a string has all unique characters.

In [21]:
def isUniqueChars(st):

    if len(st) > 256:

        return False

    char_set = [False] * 128

    for i in range(0, len(st)):

        val = ord(st[i])

        if char_set[val]:

            return False
        char_set[val] = True
    return True

st = "abcd"

print(isUniqueChars(st))

True

# 8. > Write a code to convert a given string to uppercase or lowercase.

In [22]:
text = "Shubham frOm Pw"

In [25]:
text

'Shubham frOm Pw'

In [26]:
text.lower()

'shubham from pw'

In [27]:
text.upper()

'SHUBHAM FROM PW'

# 9. > Write a code to count the number of words in a string.

In [32]:
string = "hi my name is shubhan+m"
word = 1
for i in range(len(string)):
     if string[i]==' ': 
        word+=1

print(word)

5

# 10.> Write a code to concatenate two strings without using the operator.

In [33]:
name = "shubham"
greeting = "hello, " + name
print(greeting)

hello, shubham

# 11.> Write a code to remove all occurrences of a specific element from a list.

In [42]:
list1 = [11,12,13,14,15]
print(list1)

[11, 12, 13, 14, 15]

In [44]:
list1.clear()

In [45]:
list1

[]

# 12.> Implement a code to find the second largest number in a given list of integers.

In [55]:
my_list = [10,20,30,40,50]
my_list.sort()
print(f"second largest element - {my_list[-2]}")

second largest element - 40

# 13. > Create a code to count the occurrences of each element in a list and return a dictionary with elemen keys and their counts as values.

In [67]:
list1=[1,45,8,11,23,45,23,23,8,11,45]
count = dict()
for i in list1:
    if i in count:
        count[i]+=1
else:
    count[i]=1
    print(count)

{45: 1}

# 14. > write a code to reverse a list in-place without any built-in reverse function

In [7]:
list1 = [5,6,7,8,9]

In [9]:
list1[::-1]

[9, 8, 7, 6, 5]

# 15. >Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [14]:
# initializing list
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : " + str(test_list))
test_list = list(set(test_list))
print ("The list after removing duplicates : " +str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

# 16. > create a code to check if a given list is sorted (either in ascending or descending order)or not.

In [20]:
numbers = [5,855,79,7,6,54,56,33]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[5, 6, 7, 33, 54, 56, 79, 855]

In [21]:
sorted_numbers = sorted(numbers,reverse=True)
print(sorted_numbers)

[855, 79, 56, 54, 33, 7, 6, 5]

# 17 . > write a code to merge two sorted list into a single list

In [24]:
list1 = [ 1,2,3,4,6,7,7]
list2 = [56,7,8,99,9,5]
list3 = list1+list1
print(list3)

[1, 2, 3, 4, 6, 7, 7, 1, 2, 3, 4, 6, 7, 7]

# 18. > implement a code to find the intersection of two given list

In [28]:
list1 =[ 9, 1, 17, 11, 6, 8, 4, 7]
list2 =[ 9,74,21,45,11,63,28,26]
print(list1,list2)

[9, 1, 17, 11, 6, 8, 4, 7] [9, 74, 21, 45, 11, 63, 28, 26]

# 19 . > create a code to find union of two list without duplicates

In [30]:
lis1 = ["apple", "banana", "orange", "pinapple"]
lis2 = ["libanana", " oat", "frute", "pinapple"]
lis3 = lis1 + lis2
print("complete list:", lis3)
lis4 = list(set(lis3))
print("list without duplicates:", lis3)

complete list: ['apple', 'banana', 'orange', 'pinapple', 'libanana', ' oat', 'frute', 'pinapple']
list without duplicates: ['apple', 'banana', 'orange', 'pinapple', 'libanana', ' oat', 'frute', 'pinapple']

In [31]:
a = ["alice", "bob", "charlie", "david"]
b = ["charlie", "david", "alice", "frank"]
c = list(a)
c.extend(y for y in b if y not in c)
print("list without duplicates:", c)

list without duplicates: ['alice', 'bob', 'charlie', 'david', 'frank']

# 20 . > write a code to shuffle a given a list randomly without using any built-in shuffle function

In [34]:
import random
l = [1,2,3,5,7,9]
random.shuffle(l)
print(l)

[7, 1, 2, 9, 3, 5]

# 21 . > write a code that takes two tuples as input and return a new tuple containing elements that are common to both input tuples

In [39]:
tup1 = input("enter first tuple :-")
tup2 = input("enter second tuple :-")
tup3 = tup1 + tup2
print(tup3)

enter first tuple :-shubham
enter second tuple :-kushwaha
shubhamkushwaha

# 22. > create a code that prompts the user  to enter two sets of integers separated by commas, then,  print the intersection of both two sets

In [55]:
s1 = {"hiking", "coading", "reading"}
s2 = {"coadind", "reading", "money"}

In [56]:
s1

{'coading', 'hiking', 'reading'}

In [57]:
s2

{'coadind', 'money', 'reading'}

In [58]:
s1&s2

{'reading'}

# 23. > Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [59]:
t1 = (1,2,3,4)
print(type(t1))

<class 'tuple'>

In [60]:
t2 = (100,200,300)
t1+t2

(1, 2, 3, 4, 100, 200, 300)

# 24. > Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [13]:
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6,7}
print(s1& s2)

{3, 4, 5, 6}

# 25.> Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [15]:
tup=()
n=int(input('enter numbers of elements '))
for x in range(n):
    tup+=(int(input('enter elements')),)
    print(tup)

enter numbers of elements 4
enter elements66
(66,)
enter elements65
(66, 65)
enter elements43
(66, 65, 43)
enter elements34
(66, 65, 43, 34)

# 26.> Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

enter 1st string:shubham
enter 2nd string:kushwaha
common characters:
a
h
s
u

In [19]:
str1 = input("enter 1st string:")
str2 = input("enter 2nd string:")
common=set (str1)&set(str2)
print("common characters:")
for c in common:
    print(c)

enter 1st string:books
enter 2nd string:books
common characters:
o
k
b
s

# 27. > Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [21]:
value = {100,200,300,400,500}
value1 = {144,344,55,66,777}
print(min(value))
print(min(value1))

100
55

# 28. > Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [27]:
a = {0,2,4,6,8}
b = {1,2,3,4,5}
print("union : ", a | b)
print("intersection:", a& b)
print("difference:",a - b)

union :  {0, 1, 2, 3, 4, 5, 6, 8}
intersection: {2, 4}
difference: {0, 8, 6}

# 29. > Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [28]:
def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8
 
print(countX(tup, enq))
print(countX(tup, enq1))
print(countX(tup, enq2))

0
3
4

# 30.> Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [33]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

# 31. > Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [34]:
def CountFrequency(my_list):
    freq = {}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
 
    for key, value in freq.items():
        print("% d : % d" % (key, value))
if __name__ == "__main__":
    my_list = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

 1 :  5
 5 :  2
 3 :  3
 4 :  3
 2 :  4

# 32. > Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [45]:
user_dict = {}

num = int(input("Enter the number of entries : "))
key = int(input("Enter the number of entries : "))
print(num,key)

Enter the number of entries : 89
Enter the number of entries : 33
89 33

# 33.  > Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [57]:

test_dict = {'Gfg': {'is': 'best'}}
print("The original dictionary is : ", test_dict)
keys = ['Gfg', 'is']
val = test_dict
for key in keys:
	if key in val:
		val = val[key]
	else:
		val = None
		break
print("The nested safely accessed value is : ", val)

The original dictionary is :  {'Gfg': {'is': 'best'}}
The nested safely accessed value is :  best

# 34. > Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [58]:

my_dict = {'c': 3, 
        'a': 1, 
        'd': 4, 
        'b': 2}
sorted_dict = sorted([(value, key)
for (key, value) in my_dict.items()])

print("Sorted dictionary is :")
print(sorted_dict)

Sorted dictionary is :
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

# 35.> Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [60]:

old_dict = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

new_dict = dict([(value, key) for key, value in old_dict.items()])
print ("Original dictionary is : ")
print(old_dict) 

print()
print ("Dictionary after swapping is : ") 
print("keys: values")
for i in new_dict:
    print(i, " : ", new_dict[i])

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

Dictionary after swapping is :
keys: values
67  :  G
23  :  H
45  :  C
56  :  D
12  :  E
69  :  F